*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    transition: .25s;
    letter-spacing: .95px;
}

*:focus{
    outline: none;
}

:root{
    --theme: #3451f7;
    --text-color: #ddd;
    --bgcolor: #222;
}

::-webkit-scrollbar{
    width: .25rem;
    border-radius: .75rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #fff7;
    border-radius: .75rem;
}

.pseudo{
    display: none;
}

html{
    background-color: var(--bgcolor);
    color: var(--text-color);
    font-family: Ubuntu, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 0 1px 1px #7777;
    position: fixed;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    z-index: 20;
}

.header-img{
    display: grid;
    place-items: center;
}

header h1{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li{
    border-radius: .25rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li button{
    font-size: 1.25rem;
    padding: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:hover {
    background-color: #7777
}

header .get-started{
    padding: 0;
}

header .theme-btn-wrap{
    width: 100%;
}

header .theme-btn{
    width: 100%;
}

button{
    background: linear-gradient(to right, var(--theme), #f72342);
    border: 0;
    color: var(--text-color);
    padding: .75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

button:hover{
    background: linear-gradient(to left, var(--theme), #f72342);
}

.create-new-btn{
    width: 3rem;
    font-size: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
}

#profile{
    border-radius: 50%;
}

#profile-image{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
}

#profile-image img{
    object-fit: cover;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

ul{
    list-style-type: none;
}

.transparent-btn{
    background: transparent;
    color: #CCC;
}

.transparent-btn:hover{
    background: transparent;
    text-decoration: underline;
}

#content{
    padding: .75rem;
    padding-bottom: 0;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#greeting{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

#search-wrap .close-btn-wrap{
    display: flex;
    justify-content: flex-end;
}

#search-wrap .close-btn{
    font-size: 2rem;
}

#options li{
    display: grid;
    place-items: center;
}

#search-wrap{
    position: absolute;
    background-color: #0007;
    backdrop-filter: blur(10px);
    inset: 0;
    z-index: 20;
    /* padding-top: 2rem; */
}

#search-tagline{
    display: flex;
    align-items: center;
}

#searchtagline img{
    object-fit: fill;
}

#tagline-text{
    width: 90%;
}

#tagline-text p{
    font-style: italic;
}

#filtered-list{
    height: 50dvh;
    overflow-y: scroll;
    width: 90%;
    margin: auto;
    padding: .5rem;
}

#filtered-list li{
    margin: .5rem auto;
    padding: .25rem;
}

#filtered-list button{
    border: 1px solid;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-not-found{
    text-align: center;
}

#search-form input{
    background: #fffc;
    color: var(--bgcolor);
    width: 90dvw;
    border: 0;
    margin-top: .25rem;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

#search-form input::placeholder{
    color: #333c;
    /* font-weight: bold; */
    font-size: 1rem;
}

#recent{
    margin-top: .5rem;
    padding: .25rem;
    border-radius: .5rem;
    margin-right: .5rem;
    /* border-left: .5px inset #cccc; */
    background-color: #4949494d;
    position: relative;
}

#recent-header{
    display: flex;
    justify-content: center;
}

#recent-header button{
    text-align: center !important;
    width: 45% !important;
    padding: .25rem !important;
}

#recent-header button label{
    display: grid;
    place-items: center;
}

#recent-header input[type=radio]{
    display: none;
}

#recent-header span{
    display: block;
    width: 90%;
    padding: 1rem 0 .5rem;
    cursor: pointer;
}

#recent-header input:checked+span{
    border-bottom: 3px solid;
    font-weight: 900;
    border-radius: .5rem .5rem 0 0;
    background-color: #fffb;
    color: #333;
}

#recent .quota{
    text-align: center;
    padding: .5rem;
}

.no-data{
    text-align: center;
}

#recent ul{
    max-height: 10rem;
    overflow-y: auto;
    padding: .5rem .25rem;
}

#recent ul li{
    margin: .5rem 0;
    padding: .25rem;
    /* border-bottom: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .85rem;
}

#recent ul li:nth-child(odd){
    background-color: #13131377;
}

#recent ul li:nth-child(even){
    border: 1px solid #fff5;
}

#recent ul li:nth-child(even) button:hover{
    background-color: #333;
}

#recent button{
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 1rem;
    word-wrap: break-word;
}

#recent button:hover{
    background-color: #3337;
}

#recent .refresh-btn-wrap button{
    color: var(--text-color);
    display: block;
    font-size: 1.25rem;
    width: 100%;
    margin: auto;
}

#recent .refresh-btn-wrap{
    position: absolute;
    right: 0;
    width: 3.5rem;
}

#buddy-wrap{
    margin-top: 1rem;
}

#buddy{
    display: grid;
    grid-template-columns: 0fr 5fr;
    width: 100%;
}

#buddy-text{
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buddy div img{
    object-fit:fill;
}

#features{
    width: 100%;
    margin: 1.2rem auto;
    margin-top: 4rem;
    border-radius: .75rem;
    padding: .5rem;
    background-color: #1c1c1c;
}

#features h2{
    padding: 0 .5rem;
}

.feature-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-list img{
    opacity: .1;
}

#features ul{
    list-style-position: inside;
    padding: .5rem;
    list-style-type: "\1f4a1";
}

#features ul li{
    padding: .25rem;
    margin: .25rem 0;
}

.coming-soon{
    font-style: italic;
}

#snapshots_wrap{
    background-color: #1c1c1c;
    margin: 1rem .5rem;
    padding: 1rem;
    border-radius: .75rem;
}

img{
    border-radius: .75rem;
}

#snapshots_list li:hover{
    transform: scale(105%);
}

#snapshots_list img{
    width: 100%;
}

.snapshot_card{
    position: relative;
}

.snapshot_text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    padding-top: 1.75rem;
    background: linear-gradient(#7770, #5558, #4449, #333A, #222);
    text-align: center;
    border-radius:  0 0 .75rem .75rem;
}

h2{
    /* text-align: center; */
    font-size: 2rem;
    padding-bottom: .5rem;
}

#snapshots_wrap h4{
    font-size: 1.25rem;
    padding: .75rem 1rem;
    font-weight: 100;
}

.user-profile-wrap{
    padding: .5rem;
}

.user-profile h5{
    text-align: center;
    font-size: 1rem;
}

.user-profile-wrap button{
    margin: auto;
}

.user-profile{
    padding: .5rem;
}

.user-profile img{
    display: block;
    margin: .25rem auto;
}

.pfp-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfp-field *{
    display: block;
}

.pfp-field img{
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.pfp-field label{
    background-color: #3451f7;
    padding: .75rem;
    border-radius: .3rem;
    cursor: pointer;
    margin: .5rem 0;
    display: none;
}

.pfp-field label:hover{
    background-color: #1c3adf;
}

.pfp-field input{
    display: none;
}

#user-profile-form{
    position: relative;
}

#user-profile-form h5{
    padding-top: 2rem;
}

.edit-profile-btn-wrap{
    position: absolute;
    top: -.5rem;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#user-profile-form div.field{
    margin: auto;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-profile-form .field label{
    width: 20%;
    font-size: 85%;
}

.update-field button{
    display: none;
}

.delete-field button{
    background: #f12312;
}

.contact-field .contact{
    width: 100%;
    /* display: grid; */
    place-items: center;
}

.contact-field .contact ul{
    width: 50%;
    justify-content: space-around;
}

.contact-field .contact ul li a{
    font-size: 1.5rem;
}

.terms li {
    display: grid;
    place-items: center;
}

footer{
    background-color: #1c1c1c;
    padding: 1rem;
}

.contact ul{
    padding: .5rem;
    display: flex;
}

footer .contact li{
    display: inline;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

a, footer .contact a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: inherit;
    padding: .5rem;
}

footer .contact a:hover{
    transform: scale(1.05);
    text-decoration: 2px underline;
}

footer #copyright p{
    width: 100%;
}

footer hr{
    border: .0625rem solid;
}

footer #copyright span{
    font-size: medium;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#footer-bottom ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-top-col-2{
    align-items: center;
}

#footer-top-col-3{
    width: 100%;
    height: 100%;
}

#footer-top-col-3 h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.error-head{
    font-size: 1.5rem;
}

.error li, .error{
    padding: .5rem;
    text-align: left;
}

#modal .premium button{
    margin: auto;
    border: 1.5px solid;
}

#get-premium{
    padding: .5rem;
    margin: 1rem .75rem;
    border-radius: .6rem;
    background-color: #1c1c1c;
}

#get-premium h3{
    text-align: center;
}

#perks ul{
    margin: .5rem auto;
    padding: .5rem;
}

#perks ul li{
    margin: .25rem 0;
    list-style-type: "\2713";
    list-style-position: inside;
}

#perks ul li::before{
    background-color: red;
}

#perks ul li::marker{
    color: green;
}

#perks .get-premium-btn-wrap{
    padding: .75rem;
}

#perks .get-premium-btn-wrap button{
    margin: auto;
}

.link{
    font-style: italic;
    text-decoration: underline;
}

#signinbtn{
    border: 1px solid;
    display: flex;
    place-items: center;
}

/* loader animation */
@keyframes spin{
    from{
        transform: rotateZ(0deg);
    }to{
        transform: rotateZ(360deg);
    }
}

.loader-wrap{
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
}

.spinner{
    width: 4rem;
    height: 4rem;
    margin: .5rem auto;
    border: 5px solid #777;
    border-top: 5px solid #eee;
    border-radius: 50%;
    animation: spin 1s infinite;
}

.ai-btn{
    margin-top: 1rem;
}

.ai-btn button{
    border: 1px solid;
    display: flex;
    align-items: center;
}

#gen-form h3, #gen-form button{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .get-started button{
        margin: auto;
    }

    .btn-wrap{
        width: auto;
        padding: .5rem;
    }

    #options li{
        margin: .5rem auto;
    }

    #snapshots_list li{
        margin-bottom: 1rem;
    }

    #recent{
        padding: .5rem;
        margin: 0;
        border-left: 0;
        margin-top: .25rem;
    }

    .feature-list{
        position: relative;
    }

    .feature-list img{
        position: absolute;
        /* z-index: 20; */
        width: 15rem;
        top: 0;
        right: 0;
    }
    
    #modal form .field{
        flex-direction: column;
        margin: 1rem auto;
    }

    #modal form .field label{
        width: 100%;
        text-align: left;
    }

    #modal form input{
        margin: .25rem auto;
    }

    #user-profile-form h5{
        padding: 0;
    }

    .edit-profile-btn-wrap{
        position: relative;
    }

   .pfp-field label{
        width: 50% !important;
        text-align: center !important;
    }

    /* #recent button{
        margin-bottom: .5rem;
    } */

    .contact, #footer-top-col-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Style for large screens */
@media screen and (min-width: 600px) {
    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
    }

    #greeting{
        padding: .5rem;
    }

    #search-wrap{
        text-align: center;
        width: 100%;
    }

    #recent{
        padding: .5rem;
        margin: auto;
        width: 80%;
    }

    #options{
        margin-top: 1rem;
    }

    #options ul{
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #options li{
        margin-bottom: .5rem;
    }

    #about{
        font-size: 1.25rem;
        margin: 2.5rem 0;
    }

    #snapshots_list{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #snapshots_list li{
        padding: .5rem;
        cursor: pointer;
        border-radius: .75rem;
        width: 24.5%;
    }

    .get-started{
        padding: 1.5rem;
    }
    
    .get-started button{
        display: block;
        margin: auto;
    }

    #footer-top{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        align-content: center;
        justify-content: center;
    }

    footer .contact ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

/* paypal styles */
.pp-FX7KJ62DYGV5J, .pp-8Y8A5MD9DW9B8{
    text-align:center;border:none;border-radius:0.25rem;min-width:11.625rem;padding:0 2rem;height:2.625rem;font-weight:bold;background-color:#000000;color:#ffffff !important;font-size:1rem;line-height:1.25rem;cursor:pointer;
}