*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
    transition: .25s;
    letter-spacing: .95px;
}

*:focus{
    outline: none;
}

:root{
    --theme: #3451f7;
    --text-color: #ddd;
    --bgcolor: #222;
}

::-webkit-scrollbar{
    width: .425rem;
    border-radius: .75rem;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #fff7;
    border-radius: .75rem;
}

@keyframes blink{
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

.pseudo{
    display: none;
}

html{
    background-color: var(--bgcolor);
    color: var(--text-color);
    font-family: Ubuntu, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-shadow: 1px 1px 1px #7777;
}

header h1{
    display: flex;
    align-items: start;
}

/* header nav{
    width: 40%;
} */

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li{
    border-radius: .25rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li button{
    font-size: 1.25rem;
    padding: .25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:hover {
    background-color: #7777
}

header .beta{
    font-size: .65rem;
    text-transform: uppercase;
    background-color: var(--text-color);
    color: var(--bgcolor);
    padding: .125rem;
    border-radius: .25rem 0 .25rem;
}

button{
    background: linear-gradient(to right, var(--theme), #f72342);
    border: 0;
    color: var(--text-color);
    padding: .75rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    display: block;
}

button:hover{
    background: linear-gradient(to left, var(--theme), #f72342);
}

.create-new-btn{
    width: 3rem;
    font-size: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
}

#profile{
    border-radius: 50%;
}

#profile-image{
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
}

#profile-image img{
    object-fit: cover;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

ul{
    list-style-type: none;
}

.transparent-btn{
    background: transparent;
    color: #CCC;
}

.transparent-btn:hover{
    background: transparent;
    text-decoration: underline;
}

#greeting{
    font-size: 1.2rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

#search-form input{
    background: #5557;
    width: 90dvw;
    border: 0;
    margin-top: .25rem;
    font-size: 1.2rem;
}

#search-form input::placeholder{
    color: #ccc;
    font-weight: bold;
}

#recent{
    margin-top: .5rem;
    padding: .25rem;
    border-radius: .5rem;
    max-height: 20rem;
    overflow-y: auto;
    margin-right: .5rem;
    /* border-left: .5px inset #cccc; */
    background-color: #4949494d;
}

#recent h3{
    text-align: center;
}

#recent .sets-limit{
    text-align: center;
    padding: .5rem;
}

#no-flashcard{
    text-align: center;
}

#recent ul{
    padding: .5rem .25rem;
}

#recent ul li{
    margin: .5rem 0;
    padding: .25rem;
    /* border-bottom: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .85rem;
}

#recent ul li:nth-child(odd){
    background-color: #13131377;
}

#recent ul li:nth-child(even){
    border: 1px solid #fff5;
}

#recent ul li:nth-child(even) button:hover{
    background-color: #333;
}

#recent button{
    width: 100%;
    background: transparent;
    text-align: left;
    padding: 1rem;
    word-wrap: break-word;
}

#recent button:hover{
    background-color: #3337;
}

#features{
    margin: 1.2rem auto;
    border-radius: .75rem;
    padding: .5rem;
    background-color: #1c1c1c;
}

#features h2{
    padding: 0 .5rem;
}

#features ul{
    list-style-position: inside;
    padding: .5rem;
    list-style-type: "\1f4a1";
}

#features ul li{
    padding: .25rem;
    margin: .25rem 0;
}

.coming-soon{
    font-style: italic;
}

#snapshots_wrap{
    background-color: #1c1c1c;
    margin: 1rem .5rem;
    padding: 1rem;
    border-radius: .75rem;
}

img{
    border-radius: .75rem;
}

#snapshots_list li:hover{
    transform: scale(105%);
}

#snapshots_list img{
    width: 100%;
}

.snapshot_card{
    position: relative;
}

.snapshot_text{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem;
    padding-top: 1.75rem;
    background: linear-gradient(#7770, #5558, #4449, #333A, #222);
    text-align: center;
    border-radius:  0 0 .75rem .75rem;
}

h2{
    /* text-align: center; */
    font-size: 2rem;
    padding-bottom: .5rem;
}

#snapshots_wrap h4{
    font-size: 1.25rem;
    padding: .75rem 1rem;
    font-weight: 100;
}

.user-profile-wrap{
    padding: .5rem;
}

.user-profile h5{
    text-align: center;
    font-size: 1rem;
}

.user-profile-wrap button{
    margin: auto;
}

.user-profile{
    padding: .5rem;
}

.user-profile img{
    display: block;
    margin: .25rem auto;
}

.pfp-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfp-field *{
    display: block;
}

.pfp-field img{
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.pfp-field label{
    background-color: #3451f7;
    padding: .75rem;
    border-radius: .3rem;
    cursor: pointer;
    margin: .5rem 0;
    display: none;
}

.pfp-field label:hover{
    background-color: #1c3adf;
}

.pfp-field input{
    display: none;
}

#user-profile-form{
    position: relative;
}

#user-profile-form h5{
    padding-top: 2rem;
}

.edit-profile-btn-wrap{
    position: absolute;
    top: -.5rem;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

#user-profile-form div.field{
    margin: auto;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-profile-form .field label{
    width: 20%;
    font-size: 85%;
}

.update-field button{
    display: none;
}

.delete-field button{
    background: #f12312;
}

.contact-field .contact{
    width: 100%;
}

.contact-field .contact ul{
    width: 50%;
    justify-content: space-around;
}

.contact-field .contact ul li a{
    font-size: 1.5rem;
}

.terms li {
    display: grid;
    place-items: center;
}

footer{
    background-color: #1c1c1c;
    padding: 1rem;
}

.contact ul{
    padding: .5rem;
    display: flex;
}

footer .contact li{
    display: inline;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
}

a, footer .contact a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: inherit;
    padding: .5rem;
}

footer .contact a:hover{
    transform: scale(1.05);
    text-decoration: 2px underline;
}

footer #copyright p{
    width: 100%;
}

footer hr{
    border: .0625rem solid;
}

footer #copyright span{
    font-size: medium;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#footer-bottom ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-top-col-3{
    width: 100%;
    height: 100%;
}

#footer-top-col-3 h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.error-head{
    font-size: 1.5rem;
}

.error li, .error{
    padding: .5rem;
    text-align: left;
}

#modal .premium button{
    margin: auto;
    border: 1.5px solid;
}

#perks ul{
    margin: .5rem auto;
}

#perks ul li{
    text-align: left;
    margin: .25rem 0;
}

#perks .get-premium-btn-wrap{
    padding: .75rem;
}

#perks .get-premium-btn-wrap button{
    margin: auto;
}

@media screen and (max-width: 600px) {
    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    #content{
        padding: .75rem;
        padding-bottom: 0;
    }

    .get-started button{
        margin: auto;
    }

    .btn-wrap{
        width: auto;
        padding: .5rem;
    }

    #options li{
        margin: .5rem auto;
    }

    #snapshots_list li{
        margin-bottom: 1rem;
    }

    #recent{
        padding: .5rem;
        margin: 0;
        border-left: 0;
        margin-top: 1rem;
    }
    
    #modal form .field{
        flex-direction: column;
        margin: 1rem auto;
    }

    #modal form .field label{
        width: 100%;
        text-align: left;
    }

    #modal form input{
        margin: .25rem auto;
    }

    #user-profile-form h5{
        padding: 0;
    }

    .edit-profile-btn-wrap{
        position: relative;
    }

   .pfp-field label{
        width: 50% !important;
        text-align: center !important;
    }

    /* #recent button{
        margin-bottom: .5rem;
    } */

    .contact, #footer-top-col-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Style for large screens */
@media screen and (min-width: 600px) {
    .mobile{
        display: none;
    }
    
    .desktop{
        display: block;
    }

    #greeting{
        padding: .5rem;
    }

    #search-wrap{
        text-align: center;
        width: 100%;
    }
    
    #content{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    #sidebar, #recent{
        padding: .5rem;
    }

    #options{
        margin-top: 1rem;
    }

    #options ul{
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #about{
        font-size: 1.25rem;
        margin: 2.5rem 0;
    }

    #snapshots_list{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    #snapshots_list li{
        padding: .5rem;
        cursor: pointer;
        border-radius: .75rem;
        width: 24.5%;
    }

    .get-started{
        padding: 1.5rem;
    }
    
    .get-started button{
        display: block;
        margin: auto;
    }

    #footer-top{
        display: grid;
        grid-template-columns: 2fr 2fr 3fr;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        align-content: center;
        justify-content: center;
    }
}