:root{
    --bgcol: #f5f5f5;
    --textcol: #333;
}

html, body, footer, #snapshots_wrap{
    background-color: var(--bgcol);
    color: var(--textcol);
}

header nav ul li{
    border-radius: .25rem;
}

header nav ul li:hover {
    background-color: #ccc7
}

#search-form input{
    background-color: #3339;
    color: #eee;
}

#search-form input::placeholder{
    color: #fffc;
}

#recent{
    background-color: #ccc7;
}

#recent-header button:hover{
    background-color: transparent;
}

#recent label span{
    color: var(--textcol);
}

#recent-header input:checked+span{
    background-color: #2e2e2eda;
    color: var(--bgcol);
    border-bottom: 3px solid var(--textcol);
}

#recent ul li button{
    color: var(--textcol);
}

#recent ul li button:hover{
    background-color: #ccc;
}

#recent ul li:nth-child(odd){
    background-color: #ccc7;
}

#recent ul li:nth-child(even){
    background-color: #aaa7;
}

#recent ul li:nth-child(even) button:hover{
    background-color: #aaa7;
}

.collapse{
    background-color: #ccc7;
}

#features{
    background-color: #ccc7;
}

#snapshots_wrap{
    background-color: #ccc7;
}

.snapshot_text{
    color: var(--bgcol);
}

.transparent-btn{
    color: var(--textcol);
}

footer{
    background-color: #ccc7;
}

footer #contact a{
    color: var(--textcol);
}

#modal{
    background-color: #e5e5ea;
    color: var(--textcol);
}

#modal input, #modal select{
    border: 1px solid var(--textcol);
    color: 1px solid var(--textcol);
}

#modal input:disabled, #modal select:disabled{
    border: 0;
}

#modal a{
    color: var(--textcol);
}

hr{
    color: #777;
}

/* styles for flashcard page */
input, textarea{
    border: 1.75px solid var(--textcol);
    color: var(--textcol);
}

::placeholder{
    color: #3337;
}

:disabled{
    background-color: #3337;
    color: var(--bgcol);
}

.pfp-field label{
    color: var(--bgcol);
}

/* flashcard page styles */
#flashcard-data{
    background-color: #ccc9;
}

.card-wrap{
    background-color: #ccc5;
}

.card{
    border: .5px solid #7777;
}

header .beta{
    background-color: var(--textcol);
    color: var(--bgcol);
}

::-webkit-scrollbar-thumb{
    background-color: #3337;
    border-radius: .75rem;
}

button.prev{
    color: #333;
}

#corrections li.correction-question{
    background-color: #ddd7;
}

#search-wrap{
    background-color: #fff7;
}